/* Full Width below 768 pixels */
@media only screen and (max-width: 1456px) {
    .col {
        margin: 0 0 0 15%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    [class*='grid_'] {
        width: 100%;
    }
    .site-4 .at_show{
        padding: 0 0 0 200px;
    }
    .more_leseproben_txt h1 {
        font-size: 8vw;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1455px) {
    body > div.wrapper > section.mainsection.col.grid_2_of_3 > div.site.site-2{
        margin: 0 0 0 -25%; 
    }
}

@media only screen and (max-width: 1024px) {
    .settings,.settings_detail {
        width: 100%;
        padding: 0 0 0 10%;
    }
    #settings_name {
        margin: 50px 0 0 0;
    }

}

@media only screen and (min-width: 769px) and (max-width: 990px) {
    .col {
        margin: 0 0 0 15%;
    }
    .mainsection.col.grid_2_of_3 > .site.site-4.animate__faster > header,
    .mainsection.col.grid_2_of_3 > .site.site-4.animate__faster > main {
        margin: 0 0 0 -5%;
    }
    .site-4 .at_show{
        padding: 0 0 0 20px;
    }
    body > div.wrapper > section.mainsection.col.grid_2_of_3 > div.site.site-1 {
        margin: 0 0 0 6%; 
    }
    .settings_detail main {
        padding: 121px;
    }
}

@media only screen and (max-width: 768px) {
    .col {
        margin: 0 0 0 0;
        display: block;
        padding: 0 20px;
    }
    body > div.wrapper > section.mainsection.col.grid_2_of_3 > div.site.site-3.animate__faster > header > h1 > span {
        display: inline-block;
    }

    .mainnav {
        position: absolute;
        top: 0;
        height: 90px;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 38px;
        border-bottom-left-radius: 38px;
        transition: 0.5s ease-in-out;
    }

    .mainnav a {
        display: none;
        white-space: nowrap;
        opacity: 0;
        transition: 0.3s ease-in-out;
        margin: 20px 0 25px 0;
        margin-left: -100px !important;
    }

    .mainnav a:nth-child(1) {
        margin: 50px 0 50px 0;
    }

    .mainnav a span {
        opacity: 1;
        left: 50% !important;
    }

    body > div.wrapper > section.col.grid_1_of_3 > nav > a:nth-child(3) > span {
        left: 55.6% !important;
    }
    body > div.wrapper > section.col.grid_1_of_3 > nav > a:nth-child(6) > span {
        left: 52% !important;
    }

    .mainnav label {
        display: block;
        text-align: center;
        margin: 20px auto;
    }

    .handbuch_open_handbuch {
        width: 100%;
        height: auto;
        margin: 100px 0;
    }
    .mainsection header {
        margin-top: 50px;
        font-size: 9vw;
        width: 100%;
    }
    .mainsection header h1:after{
        width: 80%;
    }
    .movebuttons {
        display: flex;
        margin: 50px 0 0 0;
    }
    .moveback, .moveforward {
        margin: 20px 10px;
        width: 100%;
    }
    .site iframe {
        width: 100%;
        height: 100%;
    }
    .site-4 .at_show{
        margin: 0;
        padding: 0 0 0 0;
    }

    body > div.wrapper > section.col.grid_3_of_3 > main > img {
        width: 100%;
        height: auto;
        margin: 100px 0;
    }

    .settings,.settings_detail {
        padding: 0 0 0 0;
    }
    .setting .setting_name {
        width: 70%;
    }
    .setting {
        margin: 40px 0;
    }
    .settingsnav p {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 425px) {
    .error {
        width: 100%;
        right: 0;
    }
    .error p::after {
        margin-top: -25px;
    }
}

@media only screen and (max-width: 375px) {
    #settings_name hr {
        width: 80%;
    }
    .settings header img {
        width: 100%; height: auto;
    }
}